html, body {
    margin: 0;
}

html {}

body {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}



.gauge-container {
    position: relative;
    color: #fff;
    float: left;
    width: 200px;
    height: 200px;
    max-width: 200px;
    margin: 0 25px 0 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.gauges-section .details {
    float: right;
    text-decoration: underline;
    color: deepskyblue;
    margin-right: 5px;
}

.gauge {
    padding-top: 5px;
    width: 180px;
    height: 160px;
    position: relative;
}

.gauge-textfield {
    position: absolute;
    width: 180px;
    text-align: center;
    top: 140px;
    font-size: 3em;
    font-weight: bold;
    color: black;
    font-family: 'Amaranth', sans-serif;
}

.gauge-info {
    position: relative;
    text-align: center;
    font-size: 1.5em;
    color: black;
    font-family: 'Amaranth', sans-serif;
}

.gauge-unit {
    position: relative;
    text-align: center;
    font-size: 1.5em;
    padding-left: 60px;
    color: black;
    font-family: 'Amaranth', sans-serif;
}

.aqi-section {
    border: 1px solid;
    height: 200px;
    border-bottom: none;
}

.aqi-section h1 {
    font-size: 4.2em;
}

.aqi-section h2 {
    font-size: 3em;
    margin-top: 5px !important;
    font-weight: 600;
    font-family: "Optima";
}

.aqi-section #datetime {
    text-decoration: underline
}

.aqi-section .aqi-circle-container {
    width: 100%;
    height: 100px;
    position: relative;
}

.aqi-section .aqi-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    float: left;
}

.gauges-section {
    border: 1px solid;
}

.parameter-section {
    border: 1px solid;
    border-bottom: none;
    border-left: none;
    height: 200px;
}

.parameter-section span {
    margin: 20px 5px 20px 5px;
    font-size: 1.5em;
}

.parameter-section .name {}

.parameter-section .value {
    font-weight: 600;
}

.aqi-name {
    text-align: center;
}

.aqi-value {
    text-align: center;
}

.aqi-datetime {
    width: 100%;
    text-align: center;
    padding-top: 1em;
}

.aqi-text {
    text-align: center;
    font-size: 1.8em;
    padding-top: 1.5em;
}

/* pax ->
- - - - - - - - - - - - - - - - - - - - -  */

.very-low {
    background-color: #37ac56;
}

.low {
    background-color: #9bd444;
}

.medium {
    background-color: #f1d309;
}

.high {
    background-color: #ff8c00;
}

.very-high {
    background-color: #ed1313;
    color: whitesmoke;
}

#tabel-ICA h6 {
    font-size: 16px;
}

#tabel-ICA {
    text-align: center;
}

#tabel-ICA thead th {
    padding: 0;
    text-align: center;
    outline: 1px solid rgba(255, 255, 255, .66);
}

#tabel-ICA thead th h6, #tabel-ICA thead th span {
    padding: 2px 8px;
    /* text-shadow: 1px 1px 1px rgba(255, 255, 255, .66); */
}

#tabel-ICA thead th h6 {
    margin: 0;
    padding: 8px;
}

#tabel-ICA span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    /* float: right; */
    background-color: rgba(255, 255, 255, .45);
}

#tabel-ICA th, #tabel-ICA td {
    width: 16%;
}